@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@layer base {
  :root {
    --text-color: #667085;
    --bg-color: #f9f9f9;
    --purple: #B1B2FF;
    --green: #56C795;
    --green-light: #c2f3dd
  }
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: sans-serif, 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial';
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
  text-align: center;
  height: 100%;
  padding: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* Formik Forms */

.availability input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--green);
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  align-self: center;
  justify-content: center;
  position: relative;
  display: flex;
  box-shadow: 0 0 0 4px var(--green-light);
}

.availability input[type="radio"]:checked {
  box-shadow: 0 0 0 4px var(--green-light) inset, 0 0 0 4px var(--green-light);
  /* transition: box-shadow 0.3s ease; */
}

.availability input[type="radio"]:checked::before {
  content: "";
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: var(--green);
  align-self: center;
  border-radius: 50%;
}

/* --END forms */

/* Custom Calendar */

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}


/* .col-start {
  justify-content: flex-start;
  text-align: left;
} */

/* .col-center {
  justify-content: center;
  text-align: center;
} */

/* .col-end {
  justify-content: flex-end;
  text-align: right;
} */

/* Calendar */

/* .calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
} */

.calendar .header {
  font-weight: 700;
  font-size: 115%;
  /* padding: 1.5em 0; */
  border-bottom: 1px solid var(--border-color)
}

.calendar .header .icon {
  /* transition: .15s ease-out; */
}

.calendar .header .icon:hover {
  /* transform: scale(1.75);
  transition: .25s ease-out; */
  color: var(--main-color);
}

/* .calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
} */

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

/* .calendar .calendar-body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .calendar-body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
} */

.calendar .calendar-body .selected {
  /* border-left: 10px solid transparent; */
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

/* .calendar .calendar-body .row {
  border-bottom: 1px solid var(--border-color);
} */

.calendar .calendar-body .row:last-child {
  border-bottom: none;
}

.calendar .calendar-body .cell:last-child {
  border-right: none;
}

.calendar .calendar-body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

/* 
.calendar .calendar-body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
} */

.calendar .calendar-body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .calendar-body .cell:hover .bg,
.calendar .calendar-body .selected .bg {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .calendar-body .col {
  /* flex-grow: 0; */
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.calendar .body .hours {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/* FullCalendar */
.fc table,
.fc .fc-timegrid-slots,
.fc .fc-timegrid-cols {
  /* width: 1200px !important */
}

/* .fc .fc-col-header colgroup col,
.fc .fc-timegrid-slot.slotLabel .fc-timegrid-slot {
  width: 3em !important
} */

.fc .fc-scrollgrid .fc-scrollgrid-section-header .fc-scroller-harness>.fc-scroller {
  overflow: hidden !important;
}

/* CALENDAR SCROLLBAR */

.fc .fc-scrollgrid .fc-scrollgrid-section-body .fc-scroller-harness>.fc-scroller.fc-scroller-liquid-absolute::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
  padding-right: 0.5rem;
  background-color: transparent;
}

.fc .fc-scrollgrid .fc-scrollgrid-section-body .fc-scroller-harness>.fc-scroller.fc-scroller-liquid-absolute::-webkit-scrollbar-track {
  background-color: rgb(241 245 249);
  border-radius: 0.25rem;
}

.fc .fc-scrollgrid .fc-scrollgrid-section-body .fc-scroller-harness>.fc-scroller.fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
  background-color: rgb(102 112 133 / 0.5);
  opacity: 0.5;
  border-radius: 0.25rem;
}

.fc .fc-timegrid-slot {
  height: 4em
}

.fc .slotLanes {
  /* background: repeating-linear-gradient(80deg, green 4px, green 4px, white 6px, white 15px) !important; */
}

.fc .fc-day.fc-day-today {
  background-color: white !important
}

/* END Calendar*/